div#mypa-options {
    display: none;
    list-style: none;
    text-align: left;
}

div#mypa-options._active {
    display: block;
}

.mypa__field__container {
    display: inline-flex;
    padding-right: 6rem;
}

.mypa_position_selector {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /*padding: 5px;*/
}

.mypa_position_selector > label {
    background-color: #e3e3e3;
    width: 105px;
    height: 148px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.mypa__field-group {
    width: auto;
    min-width: 100px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.paper_size_wrapper {
    margin-top: 10px;
}

.mypa__field-label {
    font-weight: bold;
}

.mypa_position_selector, .mypa_position_selector > input[type=checkbox] {
    display: none;
}

.mypa_position_selector._active {
    display: block;
}

input[type=checkbox]:checked + label.mypa_position_selector-item {
    background-color: #79a22e;
}

input[type=checkbox] + label.mypa_position_selector-item:after {
    position: absolute;
    font-family: 'Admin Icons';
    font-size: 2rem;
    margin-left: 40px;
    margin-top: 60px;
    color: white;
}

input[type=checkbox]:checked + label.mypa_position_selector-item:after {
    content: '\e62d';
}

input[type=checkbox]:not(:checked) + label.mypa_position_selector-item:after {
    content: '\e632';
}

/* 
 * new css
 */
#label-select-grid {
    padding-top: 141.4%;
    position: relative;
}
input-radio-group {
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 12px;
}
input-radio-group::before {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	margin-top: 43px;
	margin-left: 50%;
	background: #040707;
	transition: .3s;
}
#label-select-grid input-radio-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
input-radio-group > label {
	color: #aaa;
    display: block;
	transition: .3s;
}
input-radio-group input-radio {
	position: relative;
	display: inline-block;
}
#label-select-grid input-radio {
	box-sizing: border-box;
	width: 47%;
	height: 50%;
	border-right: 1px solid #040707;
	border-bottom: 1px solid #040707;
}
#label-select-grid input-radio:nth-of-type(2n+1) {
    border-left: 1px solid #040707;
}
#label-select-grid input-radio:nth-of-type(1), #label-select-grid input-radio:nth-of-type(2) {
    border-top: 1px solid #040707;
}
#label-select-grid input-radio input {
    display: none;
}
#label-select-grid input-radio label {
	font-family: !'myparcelcom' importan' !important;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 24px;
	color: #040707;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
#label-select-grid input-radio input:checked + label {
	background-color: #eee;
	padding-right: 0.7em;
}
input-radio label::after {
	font-family: !'myparcelcom' importan' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "◉" !important;
	float: left;
	margin-top: 1px;
	margin-right: -16px;
	position: relative !important;
	left: -3px !important;
	top: -5px !important;
	background: none !important;
	border-radius: 0 !important;
	font-size: 14px;
}
input-radio label::before {
	font-family: !'myparcelcom' importan' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-right: 8px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "" !important;
}
input-radio input + label::after, input-radio input:checked + label::after {
	opacity: 1;
}
input-radio input + label::after, input-radio input:checked + label::before {
	opacity: 0;
}